@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Manrope&display=swap');
:root{
    --colorWhite: #FFFFFF;
    --colorBlack: #000000;
    --colorGreen: #44FFA1;
    --colorPurple: #24053E;
    --colorPurpleMiddle: #584D62;
    --colorPurpleLight: #FCF8FF;
    --typographyPrimary: 'Fraunces', serif;
    --typographySecondary: 'Manrope', sans-serif;
}
html {
    /* Reset para rems 62.5% = 10px */
    box-sizing: border-box;
    font-size: 62.5%;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}
/* Estilos generales */
a{
    text-decoration: none;
}
body{
    font-family: var(--typographyPrimary);

}
.main{
    background-color: var(--colorPurple);
    border-radius: 0 0 5rem 5rem;
    width: 100%;
    height: 100%;
}
.navbar__header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}
.navbar__ul li a{
    font-family: var(--typographySecondary);
    font-size: 1.8rem;
    color: var(--colorWhite);
    border-bottom: 0.3rem solid var(--colorGreen);
}
.title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title__h1{
    width: 63.5rem;
    height: 25.8rem;
    margin-bottom: 3rem;
}
.title__h1 h1{
    font-family: var(--typographyPrimary);
    font-size: 8rem;
    font-weight: 600;
    color: var(--colorWhite);
    text-align: center;
}
.title__span{
    border-bottom: 0.3rem solid var(--colorGreen);
}
.title__btn{
    width: 16.1rem;
    height: 6.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorGreen);
}
.title__btn a{
    font-family: var(--typographySecondary);
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--colorBlack);
}