@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Manrope&display=swap');
:root{
    --colorWhite: #FFFFFF;
    --colorGreen: #44FFA1;
    --colorPurple: #24053E;
    --colorPurpleMiddle: #584D62;
    --colorPurpleLight: #FCF8FF;
    --typographyPrimary: font-family: 'Fraunces', serif;
    --typographySecondary: font-family: 'Manrope', sans-serif;
}
html {
    /* Reset para rems 62.5% = 10px */
    box-sizing: border-box;
    font-size: 62.5%;
}
  *,
  *::before,
  *::after {
    box-sizing: inherit;
}